.table-tickets {
    display: flex;
    height: 100vh;
    width: 100%;
    font-size: 22px;
}

.current-ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 4px;
    font-size: 48px;
}

.next-tickets {
    background-color: #6951F0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.next-tickets > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}