#root {
  padding: 2rem;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  gap: 24px;
}

input {
  display: flex;
  height: 24px;
  align-self: center;
}